/* Ensure no horizontal overflow */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.full-width {
    background-color:#eeeeee;
  }
  
  /* Remove gutters between columns */
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
.image-logo{
  width: 80%;
  align-items: center;
}
.trending-p{
  font-size: 16x;
  margin-bottom: 5px;
}
.Myclubs{
  width: auto;
  height: 270px;
  overflow: auto;
  
}

.p-nav{
  display: inline;
}
.middle-component{
  background-color: white;
  margin-top: 15px;
    
}
.color-trending{
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #FF2E47 13.21%, #FFB800 86.94%, #FF2E47 139.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border-gray{
  border-color: #ACACAC;
}
.text-leftsection{
  color: #000;
  opacity: 0.5;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.heading-trending{
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color:#FF433D;

}
a{
  opacity: 0.5;
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
a:hover{
  opacity: 1;
}
.active{
  font-weight: bold;
  color:#000;
  opacity: 1;
}